node_modules
.dendron.*
build
./build
bkp/*
vault/.vscode/*
./~
~
*.vscode-root
vault_perso
.vscode
@Notes_instructions/Notes_build_prod_exec_preview.txt
@Notes_instructions/Site_preview-Port_8999_conflict-Port_8080-Nginx.txt
vault/daily.*
vault/private.*
vault/log.*
vault/assets/pdf/*
vault/assets/pdf/README.pdf
vault/assets/pdf/root.pdf
