
:root {
    --main-bkg:#1e1d22;
    --main-sidebare: #212024;
    --main-sidebare-alt: #363636;
    --main_links_hover: #a8b2ff;
    --main-links_alt: #d6dbff;
    --main-bkg-link:#759882;
    --main-dend_links: #7bbf83;
    --main-dend_links_hover: #4fff66;
    --main-dend_links_visited:#5bbb60;
    --main-dend-note:#8dd697;
    --main-border-alt:#464646;
    --main-border-altalt: #6d6d6d;
    --main-alt-title-h56: #d4d4d4;
    --main-general_color: #e6e6e6;
    --main-general_color-alt:#f6efe4;
    --main-blockq1: #80eae1;
    --main-blockq2: #78c1be;
    --main-blockq3: #50a39c;
    --main-blockq4: #5a8a86;
    --main-blockq5: #597270;
    --main-blockq6: #85ab8a;
    --main-light:#FFF;
}


a:not([class])  {
  background:  linear-gradient(#44434d 0%, #44434d 100%);
}


.main-content blockquote>blockquote>blockquote a,
.main-content blockquote>blockquote>blockquote>blockquote a {
    filter: brightness(0.6);
}

.main-content blockquote>blockquote>blockquote a:hover,
.main-content blockquote>blockquote>blockquote>blockquote a:hover {
    filter: brightness(1);
}

.main-content blockquote>blockquote>blockquote>blockquote>blockquote> blockquote a {
    filter: brightness(1);
}