:root {
    --main-bkg: #fbfbfb;
    --main-sidebare: #fdfdfd;
    --main-sidebare-alt: #d6d6d6;
    --main_links_hover: #3240ac;
    --main-links_alt: #656082;
    --main-bkg-link: #6b6b6b;
    /* --main-dend_links: #65956a; */
    --main-dend_links: #508b57;
    --main-dend_links_hover: #46c275;
    --main-dend_links_visited: #47a14c;
    --main-dend-note: #8dd697;
    --main-border-alt: #464646;
    --main-border-altalt: #989898;
    --main-alt-title-h56: #444444;
    --main-general_color: #111111;
    --main-general_color-alt: #1e221e;
    --main-blockq1: #0069bf;
    --main-blockq2: #2480cc;
    --main-blockq3: #5098d2;
    --main-blockq4: #85b3e0;
    --main-blockq5: #b5d7fa;
    --main-blockq6: var(--main-dend_links);
    --main-light: #000;
    --main-over:#fbf8e6;
}
/* 
a, a>*, .main-content a.anchor-heading, .main-content a.anchor-heading svg, li.nav-list-item a {
    color: var(--main-links_alt) !important;
} */
/* a:not([class])  {
   background: linear-gradient(#e6e5f5 0%, #d3d1e2 100%);
   transition: background 1s!important;
} */
.main-content blockquote>blockquote>blockquote a, 
.main-content blockquote>blockquote>blockquote>blockquote a {
    filter: brightness(1.4) contrast(1);
}

.main-content blockquote>blockquote>blockquote a:hover,
.main-content blockquote>blockquote>blockquote>blockquote a:hover {
    filter: brightness(1);
}

.main-content blockquote>blockquote>blockquote>blockquote>blockquote> blockquote a {
    filter: brightness(1);
}

.side-bar a:not(.nav-list-expander):focus {
    background: transparent !important;
    color: var(--main-light) !important;
}




