/* EXTRAAAA */

html,
html body {
    background: #18171b !important;
    color: #FFF;
    font-size: 1.1em;
    font-weight: 300;
}
.main-header, .search-input-wrap, .search-input {
    background-color: #18171b !important;
}










@media (min-width: 50rem){
    .search-result-title {width: 30%;}
    .search-results {
        width: 666px;
    }
    .search-result-preview + .search-result-preview {
        margin-top: 0.75rem;
        margin-bottom: 0.25rem;
    }
    .search-input {
        font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
        font-size: 19.5px;
    }
    .search-active .search-input {
        padding-left: 2.75rem;
        font-weight: 400;
    }
    .main {
        position: relative;
        max-width: 710px;
    }
}
.site-logo {
    color: #FFF !important;
}

.main-content .anchor-heading svg {
    width: 1em;
    font-size: 16px
}


.main-content .anchor-heading {
    height: auto;
    font-size: inherit !important;
line-height: inherit !important;
}

a,
.main-content a.anchor-heading,
li.nav-list-item a {
    color: #87ff96 !important;
    font-weight: 600;
}
/*     89dada */

li.nav-list-item a:visited,
.main-content a.anchor-heading:visited,
a:visited {
    color: #5bbb60 !important;
    color: #87ff96 !important;
}
.main-content .breadcrumb-nav-list-item a:visited {
    color: #87ff96 !important;
}
li.nav-list-item a:hover {
    color: #7cda88 !important;
    text-decoration: none;
}
li.nav-list-item a.nav-list-link.active {
    color: #FFF !important;
    background-color: #302d3a;
}
.nav-list *,
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    /* background-image: none !important; */

    transition: none !important;
}

.nav-list .nav-list-item .nav-list-link.active {
    background-image:  linear-gradient(-90deg, rgb(56, 54, 60) 0%, rgba(40, 39, 47, 0.74) 80%, rgb(47, 46, 55) 100%) !important;
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active,
.nav-list .nav-list .nav-list-item:hover,
.nav-list .nav-list .nav-list-item:hover > a {
    background-image: none;
    background-color: #151515;
    transition: none;
}

/* 
ul.nav-list ul li.nav-list-item a.nav-list-link.active {
    background: transparent;
} */

.side-bar{
       background: #1a191d
}

.page__inner-wrap * {
    line-height: 1.9em !important;
    line-height: 1.65em !important;
    font-weight: 400;
    color: #d6d4d4;
    color: #e6e6e6;
    font-family: Open sans;
    font-size: 16px;
}
.page__inner-wrap ul,
.page__inner-wrap ol {
    margin-top: 0px !important;
}
.page__inner-wrap li {
    line-height: 1.4em !important;
/* margin-top: -7px !important; */
margin-bottom: 20px !important;
}
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 600;
}


.page__inner-wrap * {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 19.5px;
}
.page__inner-wrap b,
.page__inner-wrap strong {
    font-weight: 510 !important;
    font-weight: 610 !important;
    
color: #f6efe4;
/* color: #FFF; */
}



blockquote,
.page__inner-wrap blockquote * {
    font-style: normal;
    font-weight: 400;
    color: #80eae1 !important;
}
strong {
    font-weight: bold !important
}
.page__inner-wrap blockquote em {        font-style: italic!important;}

.main-content blockquote blockquote, .main-content blockquote blockquote * {
    color: #78c3c0 !important;
    /* opacity: 0.85; */
}
.main-content blockquote blockquote blockquote,
.main-content blockquote blockquote blockquote * {
    color: #62b3ac !important;
    /* opacity: 0.7; */
    font-weight: 200;
}
.main-content blockquote blockquote blockquote blockquote,
.main-content blockquote blockquote blockquote blockquote * {
    color: #4f8b86 !important;
    /* opacity: 0.7; */
    font-weight: 200;
}
.page__inner-wrap blockquote strong {
    color: #80fbf0 !important;
}




blockquote {
    padding-right: 0em;
    margin-left: calc(-1em - 0px) !important;
    border: 0px;
    /* margin-top: 0px !important; */
    margin-bottom: 0.65em !important;
 margin-top: 0em !important;
}

p + blockquote { margin-top: -0.65em !important;}
blockquote p + blockquote {
     margin-top: -0.45em !important;
}
blockquote + blockquote {
    margin-top: -0.45em !important;
}
blockquote + blockquote > blockquote {
    margin-top: -0.5em !important;
}



.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    margin-bottom: 3px; 
    margin-top: 1em; 
    text-transform: none !important;
    letter-spacing: normal !important;
    color: #FFF !important;
    line-height: 1.2em !important;
}

.main-content h1
{
    font-size: 33px !important;
    padding-top: calc(2.4em / 2) !important;
    margin-top: calc(2.4em / 2) !important;
    margin-bottom: 0.5em !important;
    

}
.main-content h2
{
    margin-top: calc(1.7em / 2);
    padding-top: calc(1.7em / 2);
        font-size: 26px !important; 
    margin-bottom: 3px; 
}
/* .main-content h4,
.main-content h5,
.main-content h6 {
    margin-top: 35px;
} */

/* @media (min-width: 31.25rem) { */
    /* .text-gamma, */
    .main-content h3 {
        margin-top: calc(1.4em / 2);
        padding-top: calc(1.4em / 2);
        font-size: 23px !important;
    }
/* } */
.main-content h4 {
    margin-top: 1em;
    margin-top: calc(1.15em / 2);
    padding-top: calc(1.15em / 2);
    font-size: 20px !important;
    letter-spacing: 1px !important;
    letter-spacing: normal !important;

    
}

.main-content h5,
.main-content h6 {
    margin-top: calc(1em / 2);
    padding-top: calc(1em / 2);
    font-size: 17px !important;
    /* letter-spacing: 1px !important; */
    letter-spacing: normal !important;
}
.main-content h4,
.main-content h5,
.main-content h6 {
    margin-bottom: 4px !important;
    color: #e4e3e3 !important;
}
.main-content :is(h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6)
 {
    margin-top: -5px !important;
}

.main-content h6 + h6 {
    margin-top: 6px !important;
}

.main-content .page__content *:is(h1,h2,h3,h4,h5,h6):first-child {
    margin-top: -10px !important;
    margin-bottom: 3px !important;
    padding-top: 13px !important;

}
.main-content .page__content :is(h1, h2, h3, h4, h5, h6):first-child + blockquote *{
    color: #e6e6e6 !important;
    color: #ececec !important;
    font-weight: 620;
}

.main-content hr + :is(h2,h3,h4,h5,h6) {
    margin-top: -20px;
padding-top: 21px;
}


 
/* https://medium.com/clear-left-thinking/all-you-need-to-know-about-hyphenation-in-css-2baee2d89179 */
.page__inner-wrap p {
    /* margin-left: 4px !important; */
    margin-bottom: 0.65em;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 3;
    -webkit-hyphenate-limit-chars: 6 3 3;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;     -moz-hyphens: auto;
    -moz-hyphenate-limit-chars: 6 3 3;
    -moz-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-last: always;
    -moz-hyphenate-limit-zone: 8%;     -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: 6 3 3;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-zone: 8%;     hyphens: auto;
    /* hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%; */
}
.page__inner-wrap hr {
margin-top: 25px;
margin-bottom: 20px;
margin-left: -8px !important;
width: calc(100% + 10px) !important;
}





.main-content .page__content ul {
    list-style: none;
    /* margin-top: -10px; */
    margin-bottom: 20px;
}
.main-content .page__content ul li {
    margin: -0.25em 0;
    font-weight: 400;
}
.main-content .page__content ul + hr {
    margin-top: 0px !important;
}





.main-content h2#children,
.main-content h2#backlinks {
    margin-top: 0px !important;
    font-size: 20px !important;
    color: #6ad570 !important;
    margin-bottom: -1px !important;
    padding-top: 0px;
}
.main-content h2#children + ol {
    margin-bottom: -0px;
}


.main-content h2#backlinks + ul li,
.main-content h2#children + ol li {
    margin-bottom: 6px !important;
margin-top: 5px !important;
}

.main-content h2#backlinks + ul,
.main-content h2#backlinks + ul *,
.main-content h2#children + ol,
.main-content h2#children + ol * {
    line-height: 18px !important;
font-size: 14px !important;
    
}
.main-content h2#children + ol > li::before,
.main-content h2#backlinks + ul > li::before {
    line-height: 11px !important;
    font-size: 10px !important;
}
.main-content h2#children + ol > li::before {
    position: relative;
    top: -1px;
}
.main-content h2#backlinks + ul {
    padding-left: 20px;
}
.main-content h2#backlinks + ul > li {
    padding-left: 5px;
}
.main-content h2#backlinks + ul > li::before {
    line-height: 16px !important;
}

.site-footer {
    padding-bottom: 1rem;
}
@media (min-width: 50rem) {
    .site-nav {
        padding-top: 2.4rem;
        display: block;
        padding-top: 1px;
        padding-bottom: 1rem;
        overflow-y: auto;
        flex: 1 1 auto;
        /* position:relative;
        left: auto;
        right: auto;
        float: left; */
    }

    
    .site-title,
    #site-nav {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
        margin-left: 1.2rem !important;
    }
    .site-nav, .site-header, .site-footer {
        width: 225px;
    }

    .nav-list .nav-list-item .nav-list-link {
        min-height: 2rem;
        line-height: 1.2rem;
        padding-right: 1rem;
        padding-left: 1.5rem;
    }

    ul.nav-list li.nav-list-item.active ul.nav-list {
        margin-bottom: 10px;
        padding-left: 0px;
    }
    ul.nav-list li.nav-list-item.active ul.nav-list li a {
        padding: 0rem 1rem 0 1.6rem !important;
    }
    .nav-list .nav-list-item .nav-list-link {
        min-height: 1.7rem;
        line-height: 1.7rem;
        padding-right: 1rem;
        padding-left: 1.2rem;
    }

    .nav-list .nav-list-item .nav-list-expander:hover {
        background:none !important;
    }
    a:active,
    a:focus,
    .nav-list a:focus {
        outline: 1px solid #444 !important;
        outline-offset: -2px;
    }
    a:focus {
        outline: 1px solid #444 !important;
    }
    .nav-list a.nav-list-expander:focus {
        outline: none !important;
        outline-offset: -2px;
    }
    .nav-list .nav-list-item .nav-list-expander {
        height: 2rem;
    }

    .nav-list .nav-list-item.active > .nav-list-expander svg {
        transform: rotate(-90deg) translateX(0px);
    }
    .nav-list .nav-list-item .nav-list-expander svg {
        transform: rotate(90deg) translateX(0px);
    }



    .main-content-wrap{    padding-top: 20px;}
    .nav-list .nav-list-item {
        /* margin-bottom: 4px; */
        border-bottom: 0.1px solid #2d2d2d;
    }
    .nav-list .nav-list-item li {
        border-bottom: none;
    }

    .main-content-wrap {
        padding-top: 1.5rem;
        padding-bottom: 0.6rem;
    }
    
    .breadcrumb-nav-list {
        padding-left: 0;
        margin-bottom: 5px; 
    }
    
    .breadcrumb-nav {
        margin-top: -13px;
    }
}

.breadcrumb-nav-list-item {
    font-size: 12px !important;
    color: #FFF !important;
    font-weight: 410;
}

html body .table-of-contents-sidebar-fixed-sidebar *
 {
    background: none;
}
html body .table-of-contents-sidebar-fixed-sidebar ul li a {
    background: none !important;
}

html body  .table-of-contents-sidebar-fixed-sidebar ul {
    height: calc(100% - 80px) !important;
}
html body .table-of-contents-sidebar-fixed-sidebar.show {
    width: 330px;
}
html body .table-of-contents-sidebar-fixed-sidebar {
    background-color: #18171b !important;
    color: #FFF !important;
}
html body .table-of-contents-sidebar-fixed-sidebar ul,
html body .table-of-contents-sidebar-fixed-sidebar ul li a:link, 
html body .table-of-contents-sidebar-fixed-sidebar ul li a:visited {
    color: #FFF !important;
    text-decoration: none !important;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;

}
html body .table-of-contents-sidebar-fixed-sidebar ul li a:visited {
    color: #ebe9e9 !important;
}

html body .table-of-contents-sidebar-fixed-sidebar ul li[class^="ANCHOR"] {
    margin-top: -5px;
}

html body .table-of-contents-sidebar-fixed-sidebar ul li.ANCHOR-1 {
    padding-left: 0;
    margin-top: 23px;
}

html body .table-of-contents-sidebar-fixed-sidebar ul li:is(.ANCHOR-1):first-child {
    margin-top: 3px !important; 
}

html body .table-of-contents-sidebar-fixed-sidebar ul li.ANCHOR-4,
html body .table-of-contents-sidebar-fixed-sidebar ul li.ANCHOR-5{
    margin-top: -7px;
    font-size: 1em
}

html body .table-of-contents-sidebar-fixed-sidebar .copyright a:link,
html body .table-of-contents-sidebar-fixed-sidebar ul li a {
    color: rgb(144, 144, 144) !important;
}
html body #table-of-contents-sidebar-fixed-sidebar-tooltip {
    display: none !important;
}

html body .table-of-contents-sidebar-fixed-sidebar .copyright {
    margin-bottom: 0px !important;
line-height: 20px !important;
border: none !important;
margin-top: -2px;
}
html body .table-of-contents-sidebar-fixed-sidebar ul li a[href="#backlinks"],
html body .table-of-contents-sidebar-fixed-sidebar ul li a[href="#children"] {
    margin-top: 20px !important;
display: block !important;
margin-left: -15px !important;
font-style: italic;
}
html body .table-of-contents-sidebar-fixed-sidebar ul li a[href="#backlinks"] {
    margin-top: 10px !important;
}

.search-result-previews {
    font-weight: 300 !important;
    color: #FFF !important;
    /* font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif; */
    font-size: 13px !important;
}
.search-results-list-item {
    border-top: 1px solid #4E4E4E;
}
.search-result-highlight{
color: #79eb93;}



.main-content pre, .main-content code {
    display: block;
    width: auto;
    height: 100%;
    overflow: visible;
    word-break: break-word;
    white-space: break-spaces;
    line-height: 1.65em !important;
    padding: 0px;
}
.main-content pre {
    width: calc(100% - 30px);
    padding: 0px;
    margin: 10px 0px;
}

.main-content code {
    padding: 13px 20px 16px 24px;
    background: #1a191d;
    /* color: #ffffff;
}